<!-- http://wiki.freeswitch.org/wiki/Dialplan_XML -->
<include>
  <context name="mrf">

    <!-- establish outbound event socket connection to the address specified in the X-esl-outbound header -->
    <extension name="socket">
      <condition field="${sip_user_agent}" expression="^drachtio-fsmrf:(.*)$">
        <action application="answer"/>
        <action application="socket" data="${sip_h_X-esl-outbound} async full"/>
      </condition>
    </extension>
  </context>
</include>
